body{background-color: #000;}
.board-main >.board-row	 > .board-sq{
	width:50px;
	height:50px;
	float: left;
	position: relative;	
}
.board-main >.board-row{
	width: 400px;
	height: 50px;
	position: relative;

}
.board-main >.board-row	 > .board-sq > img.board-pcs{
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
	cursor: pointer;
}
.board-main >.board-row > .board-sq.light{
	background-color: #efefef;
}
.board-main >.board-row > .board-sq.light:hover,.board-main >.board-row > .board-sq.light.hover{
	background-color: #e1e877;
}
.board-main >.board-row > .board-sq.dark{
	background-color: #306b7d; /* #247328; */
}
.board-main >.board-row > .board-sq.dark:hover,.board-main >.board-row > .board-sq.dark.hover{
	background-color: #48a0bb; /* #97dc6b; */
}